@keyframes scrollanim {
    from {
        translate: -20pc 0;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 253);

}

header {
    background-color: rgb(59, 72, 116);
    padding: .1%;

}

div.floater {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 50pc;
}

div.floating {
    padding: 1pc;
    padding-top: 0;
    width: 95%;
    min-width: 10pc;
    max-width: 18pc;
    height: 20%;
    min-height: 30%;
    margin: 2pc;

}

div.another {
    padding: 1pc;
    padding-top: 0.001pc;
    display: block;
    margin: 0 auto;
    margin-top: 2pc;
    margin-bottom: 2pc;
    min-width: 10pc;
    width: 50pc;
    max-width: 95%pc;
    height: 90%;
}

div.glow {
    position: relative;
    background-color: rgb(46, 44, 44);
    border-radius: 2pc;
}

div.glow::after,
div.glow::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), rgb(17, 0, 255), rgb(144, 171, 230), rgb(17, 0, 255));
    z-index: -1;
    padding: 5px;
    border-radius: 2pc;
    animation: spin 1.5s linear infinite;
}

div.glow::before {
    filter: blur(1pc);
    opacity: 0.5;
}


img {
    height: 8pc;
    display: block;
    margin: 0 auto;
    border-radius: 2pc;
    alt: "logo";
}

h1 .apptitle {
    width: 100%;
    font-size: 2pc;
    margin-bottom: 1pc;

}

h1,
h2,
a,
button {
    text-align: center;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 254, 253);
}



h2.job {
    margin-top: -1.5pc;
}

h1.bigtext {
    margin: 0;
    margin-top: -2pc;
    text-shadow: black 1pc 1pc .25pc;
    font-size: 10pc;
    width: auto;
    height: 10pc;
    padding: 4.5pc 0;
    padding-top: 0;
    background-image: linear-gradient(rgb(59, 72, 116), rgb(0, 0, 0));
    border-bottom: 1pc solid rgb(2, 2, 27);
}

.botpos {
    text-align: center;
    font-size: 1.5pc;
    width: 100%;
    bottom: 1pc;
    translate: -.5pc;
    position: absolute;
    display: block;
    margin: 0 auto;
}

.butlink {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}




button {
    border-radius: 2pc;
    background-color: rgb(16, 38, 163);
    width: 75%;
    max-width: 30pc;
    font-size: 1.5pc;
    padding: 0.3pc;
    margin: 0.5pc;
}

.scrollanim {
            translate: -20pc 0;
        opacity: 0;
    animation: scrollanim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
animation-fill-mode: forwards;
}


button.dntbtn {
    background-color: rgb(70, 87, 143);
    margin: 2pc 0;

}


p {
    font-size: 1.25pc;
}

.textmarg {
    margin: 1pc;
    line-height: 2pc;
}

.topmarg {
    margin-top: 1pc;
}

.marg {
    margin: 2pc;
}


header h1 {
    font-size: 3pc;
    margin-bottom: -1pc;
}

.mainhead {
    font-family: sans-serif;
}

font {
    color: rgb(118, 182, 235);
}

h1.subhead {
    font-size: 2pc;
}

nav {
    background-color: rgb(85, 85, 85);
    padding: 1pc;
}

summary {
    font-size: 1.5pc;
}

details p {
    text-align: left;
}

ul {
    margin-bottom: 5pc;
}

li {
    font-size: 1.25pc;
    margin-bottom: 0.5pc;
}

@media screen and (max-width:768px) {
    h1.bigtext {
        font-size: 6pc;
        text-shadow: .6pc;
        height: 6pc;
    }

    .marg{
        margin: 1.5pc;
    }

}

@media screen and (max-width:480px) {
    h1.bigtext {
        font-size: 4pc;
        text-shadow: .4pc;
        height: 6pc;
    }

    .marg{
        margin: 1pc;
    }


}